.ArticleList {
  margin: 0;
}

.ArticleList ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
}

.ArticleList a {
  text-decoration: none;
  color: black;
}

.ArticleList a:hover {
  cursor: pointer;
}

.ArtListItem {
  margin: 10px;
  border-radius: 5px;
  font-size: 15px;
  background-color: lightgrey;
  flex-grow: 1;
  flex-shrink: 1;
  width: 300px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "title"
    "body";
}

.ArtListItem h3 {
  text-align: center;
  grid-area: title;
}

.ArtListItem p {
  /* display: flex; */
  /* float: left; */
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  grid-area: body;
}

.Comment {
  margin: 10px;
  border-radius: 5px;
  font-size: 15px;
  background-color: whitesmoke;
  /* display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "title votes comments"
    "body votes comments"; */
}

.Comment h3 {
  text-align: right;
  grid-area: title;
}

.Comment p {
  /* display: flex; */
  /* float: left; */
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  grid-area: body;
}

.Image {
  height: 80%;
  width: 80%;
}
