.ArticleCard {
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
}

.ArticleCard p {
  color: rgb(117, 117, 117);
}

.ArticleCard img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
