.Main {
  grid-area: Main;
  overflow: scroll;
  background-color: white;
  margin: 0px;

  /* padding: 10px; */
}

/* .ListDiv {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-wrap: none;
} */
